<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Playground</title>

    {% include 'style.html' %}

</head>
<body>
    <div class="container">
        <div class="row top-row" id="monaco-editor" style="flex: 1;">
            <div class="tabs" id="tabsContainer">
                <div class="tab active" data-tab="tab1">Python Playground for {{session_name}}</div>
            </div>
            <button class="floating-button" id="runCodeButton" title="Click me to run code">
                <i class="fa fa-play" aria-hidden="true"></i>
                <i class="fa fa-spinner" aria-hidden="true"></i>
            </button>
        </div>
        <div class="divider">
            <div class="tabs" id="tabsContainer">
                <div class="tab active" data-tab="tab1">Terminal</div>
            </div>
        </div>
        <div class="row bottom-row">
            <div class="tab-content active terminal" id="tab1">
                <div id="history"></div>
                <div class="line">
                    <span id="path" class="prompt">$</span>
                    <input type="text" id="input">
                </div>
            </div>
        </div>
    </div>
    
    {% include 'script.html' %}
    
</body>
</html>
